@model TacocaTModel
<style>
    body {
        background-color: #85FFBD;
        background-image: linear-gradient(0deg, #85FFBD 46%, #FFFB7D 100%);
    }
</style>
<br />
<h1 class="style: text-center">TacocaT - Palindrome Test</h1>
<br />
<hr />
<br />
<form asp-action="TacocaT">
    <div class="row">
        <div class="col offset-1"></div>
        <div class="col"><input type="text" name="userInput" placeholder="Enter Text Here" /></div>
        <div class="col"><button class="btn btn-outline-dark" type="submit">Check for Palindrome</button></div>
        <div class="col offset-1"></div>
    </div>
</form>
